  <div data-modal-target="modal" class="modal">
    <div class="modal-content">
      <button data-action="modal#close" class="modal-close-link" aria-label="閉じる">&times;</button>
      <p>2. 年齢は？</p>
      <button data-action="modal#selectAge" data-value="10">10代</button>
      <button data-action="modal#selectAge" data-value="20">20代</button>
      <button data-action="modal#selectAge" data-value="30">30代</button>
      <button data-action="modal#selectAge" data-value="40">40代以上</button>
    </div>
  </div>
