  <div data-modal-target="modal" class="modal">
    <div class="modal-content">
      <button data-action="modal#close" class="modal-close-link" aria-label="閉じる">&times;</button>
      <p>1. 名前は？</p>
      <button data-action="modal#selectName" data-value="太郎">太郎</button>
      <button data-action="modal#selectName" data-value="花子">花子</button>
      <button data-action="modal#selectName" data-value="次郎">次郎</button>
      <button data-action="modal#selectName" data-value="三郎">三郎</button>
    </div>
  </div>
